<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h3>Content</h3>

    <p align = "justify">
        dataset ini terkait dengan harapan hidup dan faktor kesehatan untuk 193 negara telah dikumpulkan dari website data repository WHO
        dan data ekonomi dikumpulkan dari situs web PBB. Di antara semua kategori faktor yang 
        berhubungan dengan kesehatan, hanya faktor kritis yang dipilih yang lebih representatif. Telah diamati bahwa dalam 15 tahun 
        terakhir, telah terjadi perkembangan yang sangat pesat di bidang kesehatan yang mengakibatkan peningkatan angka kematian 
        manusia terutama di negara berkembang dibandingkan dengan 30 tahun terakhir. Oleh karena itu, dalam proyek ini telah 
        mempertimbangkan data dari tahun 2000-2015 untuk 193 negara untuk dianalisis lebih lanjut. File data individu telah digabungkan 
        menjadi satu kumpulan data.
    </p>
    <a href="https://www.kaggle.com/kumarajarshi/life-expectancy-who">sumber dataset</a>
</body>
</html>