<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE LIFE EXPECTANCY</title>
</head>
<body>
    
    <div class="container fluid">

        <center>

            <form method="POST" action = 'http://127.0.0.1:5000/dataset'>
                <button style="height: 45px;
                width: 200px;
                font-size: 20px;
                text-align: center;
                background-color: orangered;
                color: cornsilk;
                type = "button" class="btn btn-info"">DATASET
                </button>
            </form>

            <form method="POST" action = 'http://127.0.0.1:5000/report'>
                <button style="height: 45px;
                width: 200px;
                font-size: 20px;
                text-align: center;
                background-color: cyanblue;
                color: cornsilk;
                type = "button" class="btn btn-info"">REPORT
                </button>
            </form>

            <form method="POST" action = 'http://127.0.0.1:5000/regression'>
                <button style="height: 45px;
                width: 200px;
                font-size: 20px;
                text-align: center;
                background-color: blue;
                color: cornsilk;
                type = "button" class="btn btn-info"">REGRESSION
                </button>
            </form>

            <form method="POST" action = 'http://127.0.0.1:5000/classification'>
                <button style="height: 45px;
                width: 200px;
                font-size: 20px;
                text-align: center;
                background-color: pink;
                color: cornsilk;
                type = "button" class="btn btn-info"">CLASSIFICATION
                </button>
            </form>

            <form method="POST" action = 'http://127.0.0.1:5000/about'>
                <button style="height: 45px;
                width: 200px;
                font-size: 20px;
                text-align: center;
                background-color: green;
                color: cornsilk;
                type = "button" class="btn btn-info"">About
                </button>
            </form>

        </center>

    </div>

</body>
</html>